body {
  background: #fff3e6;
  font-family: arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.App-header {
  text-align: center;
  font-size: 30px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
